.card .productCard {
    width: 100%;
    object-fit: cover;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    /* background-color: red; */
}

.content {
    flex: 1;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.card {
    background-color: rgba(184, 184, 184, 0.062);
}

.card:hover {
    border: 1px solid orange;
    transition: 1s;
    box-shadow: 0 0 2vh rgba(150, 150, 113, 0.616);
}

.card-params {
    margin-bottom: 2%;
    height: 80px;
    margin-top: 10%;
}

.card-param > p {
    font-size: 13px;
}

.card-param-img {
    width: 40%;
    opacity: 0.7;
}

.product-info h1 {
    font-size: 30px;
}

.custom-button {
    border: none;
}

.custom-button:hover {
    background-color: orange;
    transition: 1s;
    color: black;
}

.pop-up-block {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: rgb(247, 247, 247);
    width: 30%;
    box-shadow: 0 0 6vh rgba(0, 0, 0, 0.274);
    opacity: 1;
    display: none;
}

.pop-up-block form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10% 10% 10%;
}

.close-xmark {
    position: absolute;
    right: 3%;
    top: 2%;
}

.pagination a{
    color: darkslategray !important;
}

.pagination .active .page-link {
    background-color: rgb(66, 66, 66);
    border: 1px solid darkgray;
}

/* Carousel */

.carousel-item {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.item-1 {
    background-image: url(../../imgs/slider/8e52eaa5f70d5f8668b6d03ef167c5fd.jpg);
}

.item-1::before, .item-2::before, .item-3::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.item-2 {
    background-image: url(../../imgs/slider/1421679929_4-4.jpg);
}

.item-3 {
    background-image: url(../../imgs/slider/4311cd9449c2c1a68b98bb12aa08ae02.jpeg);
}

.guest-like-block {
    position: fixed;
    transform: translate(-50%, -50%); 
    left: 50%; 
    top: 50%; 
    background-color: rgb(247, 247, 247);
    width: 30%;
    box-shadow: 0 0 6vh rgba(0, 0, 0, 0.274);
    opacity: 1;
    display: none;
}

@media (max-width: 424px) {
    .guest-like-block {
        width: 95%;
    }
}

@media (min-width: 425px) and (max-width: 530px) {
    .guest-like-block {
        width: 80%;
    }
}

@media (min-width: 531px) and (max-width: 606px) {
    .guest-like-block {
        width: 70%;
    }
}

@media (min-width: 607px) and (max-width: 707px) {
    .guest-like-block {
        width: 60%;
    }
}

@media (min-width: 708px) and (max-width: 900px) {
    .guest-like-block {
        width: 45%;
    }
}

@media (min-width: 901px) and (max-width: 1052px) {
    .guest-like-block {
        width: 40%;
    }
}

.guest-like-block a {
    color: rgb(231, 150, 0);
}

.guest-like-block a:hover{
    color: rgba(231, 150, 0, 0.596);
    transition: 0.4s;
}
